@charset "UTF-8";
button.active {
  background-color: red; }

@media only screen and (min-width: 768px) {
  .select_one_answer {
    padding-top: 24px;
    padding-bottom: 47px; }

  .filter .gastroform_wrapper {
    width: 100%; }
    .filter .gastroform_wrapper .gastroform_selectWrapper {
      position: relative;
      width: 100%; }
      .filter .gastroform_wrapper .gastroform_selectWrapper::before {
        content: "▾";
        color: #D7D7D7;
        font-size: 50px;
        pointer-events: none;
        position: absolute;
        right: 25px;
        top: 20px; }
      .filter .gastroform_wrapper .gastroform_selectWrapper select {
        font-family: "Zilla Slab", "Courier New", Arial;
        font-size: 1.5em;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: 4px solid #D7D7D7;
        background-color: white;
        border-radius: 0px;
        color: #D7D7D7;
        cursor: pointer;
        height: 65px;
        outline: none;
        padding-left: 10px;
        width: 100%; }

  .list-map .list-column {
    width: 575px;
    padding: 0px 0px 0px 15px; }
    .list-map .list-column .hotel-list label {
      margin-bottom: 20px; }
    .list-map .list-column .hotel-list li input[type="checkbox"] {
      display: none; }
    .list-map .list-column .hotel-list li .list-column-checkbox {
      /* styles für checked */ }
      .list-map .list-column .hotel-list li .list-column-checkbox + label {
        background-color: white;
        display: block;
        border: 3px solid #D7D7D7;
        border-radius: 15px;
        padding: 15px; }
        .list-map .list-column .hotel-list li .list-column-checkbox + label .hotel-list-row {
          display: flex;
          align-items: center; }
          .list-map .list-column .hotel-list li .list-column-checkbox + label .hotel-list-row .list-item-col-1 {
            padding: 0px;
            width: 185px;
            min-width: 185px; }
            .list-map .list-column .hotel-list li .list-column-checkbox + label .hotel-list-row .list-item-col-1 img {
              padding: 0px;
              margin: 0px; }
          .list-map .list-column .hotel-list li .list-column-checkbox + label .hotel-list-row .list-item-col-3 {
            padding: 0px; }
          .list-map .list-column .hotel-list li .list-column-checkbox + label .hotel-list-row .list-item-col-2 {
            padding: 0px 10px; }
            .list-map .list-column .hotel-list li .list-column-checkbox + label .hotel-list-row .list-item-col-2 h4 {
              font-size: 18px;
              line-height: 21px;
              margin-bottom: 0px; }
            .list-map .list-column .hotel-list li .list-column-checkbox + label .hotel-list-row .list-item-col-2 p {
              font-size: 12px;
              line-heigt: 16px; }
            .list-map .list-column .hotel-list li .list-column-checkbox + label .hotel-list-row .list-item-col-2 .list-item-jobs {
              display: flex;
              justify-content: space-evenly; }
              .list-map .list-column .hotel-list li .list-column-checkbox + label .hotel-list-row .list-item-col-2 .list-item-jobs .list-item-job {
                font-size: 14px;
                background-color: #D7D7D7;
                color: white;
                transform: skewX(-12deg); }
                .list-map .list-column .hotel-list li .list-column-checkbox + label .hotel-list-row .list-item-col-2 .list-item-jobs .list-item-job span {
                  display: block;
                  padding: 0px 5px;
                  transform: skewX(12deg); }
      .list-map .list-column .hotel-list li .list-column-checkbox:checked + label {
        background-color: #FFD500;
        border-color: #FFD500; }
        .list-map .list-column .hotel-list li .list-column-checkbox:checked + label .list-item-col-2 .list-item-jobs .list-item-job {
          background-color: white;
          color: #8c8c8c; }
        .list-map .list-column .hotel-list li .list-column-checkbox:checked + label .list-item-col-3 .gastroform_inputcheckbox:after {
          content: "";
          display: block;
          width: 17px;
          height: 27px;
          background-color: #ffffff;
          border: solid #000000;
          border-width: 0 6px 6px 0;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          margin-top: 5px;
          margin-left: 16px; } }
